@import "blog-cards.css";
@import "footer.css";
@import "navbar.css";

/* Global Styles */
body {
    background-color: whitesmoke;
    color: #444;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Grid Setup */
.container {
      display: grid;
      width: 100%;
      margin: auto;
      justify-items: center;
      /* border: 3px solid greenyellow; */
      grid-template-columns: 100%;
      grid-template-rows: 70px 500px auto 200px;
      grid-template-areas: 
      "nv"
      "hd"
      "main"
      "ft";
  }
  

.box {
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    /* border: 1px solid violet; */
}

/* Header */
#header {
    grid-area: hd;
    width: 100%;
    background-image: url(/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin: 0;
    color:whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.button {
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
    margin: 20px;
    width: 80px;
    height: 30px;
}